.grid-container{
    background-color:coral;

    display:grid;


    /*
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows:150px 150px 150px;
    */

    /*repeat(rows/cols/size)*/
    grid-template-columns: repeat(3,150px) 1fr;

    grid-template-columns: 1fr 2fr 2fr 1fr;

    grid-template-columns: 1fr 2fr 3fr 4fr;

    grid-template-columns: 150px 1fr 50% 1fr;
    grid-gap:25px;

    height:600px;

    grid-template-rows:repeat(3,1fr);
    grid-template-rows: repeat(2,100px) 1fr;
    grid-template-rows: repeat(2, 100px) 0.5fr;

}

.item{
    background-color:dodgerblue;
}