.grid-container{
    background-color:coral;
    display:grid;
    grid-gap:25px;
    /*Grid template areas*/
    /* Naming grid items can be used to referred by the grid-template-areas property of the grid container */

    grid-template-areas:
    "header header header header header header"
    "sec-1 sec-1 sec-2 sec-2 sec-3 sec-3"
    ". sec-4 sec-4 sec-4 sec-4 ."
    "sec-5 sec-5 sec-5 sec-6 sec-6 sec-6"
    "footer footer footer footer footer footer"

}

section,header,footer{
    background-color:#fcc006;
    font-size:20px;
    text-align:center;
    line-height: 150px;
    letter-spacing:3px;
}
/*Grid area property can be used to assign names to grid items */
.header{
    background-color:blueviolet;
    grid-area: header;

}
.item1 {
    background-color: chartreuse;
    grid-area:sec-1;
   
}

.item2 {
    background-color: rgb(234, 255, 115);
    grid-area:sec-2;

}

.item3 {
    background-color: rgb(255, 175, 105);
    grid-area: sec-3;
}

.item4 {
    background-color: rgb(145, 216, 255);
    grid-area: sec-4;

}

.item5 {
    background-color: rgb(126, 205, 117);
    grid-area: sec-5;


}

.item6 {
    background-color: rgb(249, 140, 255);
    grid-area: sec-6;
}
.footer{
    background-color:rgb(185, 255, 255);
    grid-area: footer;
}